# Azure Key Vault
AZURE_KEYVAULT_ENDPOINT=
AZURE_KEYVAULT_CLIENT_ID=

# Azure OpenAI
AZURE_OPENAI_DEPLOYMENT= 
AZURE_OPENAI_API_VERSION= 

# Azure AI Search
AZURE_OPENAI_EMBED_DEPLOYMENT=

# Azure Cosmos DB
PG_PORT=
PG_HISTORY_LIMIT=