RATELIMIT_LIMIT_PERIOD=10000
RATELIMIT_LIMIT_FOR_PERIOD=10
RETRY_ATTEMPTS=2
RETRY_INTERVAL=1000
BULKHEAD_CONCURRENT_SIZE=1
BULKHEAD_QUEUE_SIZE=0
BULKHEAD_MAX_QUEUE_WAIT=30000
CIRCUITBREAKER_SLIDING_WINDOW_SIZE=10
CIRCUITBREAKER_MINIMUM_NUMBER_OF_CALLS=5
CIRCUITBREAKER_FAILURE_RATE_THRESHOLD=50
CIRCUITBREAKER_PERMITTED_NUMBER_OF_CALLS_IN_HALF_OPEN_STATE=1
CIRCUITBREAKER_OPEN_STATE_DELAY=10000
ENV=dev

HELLO_RATELIMIT_LIMIT_PERIOD=20000
HELLO_RATELIMIT_LIMIT_FOR_PERIOD=5
HELLO_BULKHEAD_CONCURRENT_SIZE=3
HELLO_BULKHEAD_QUEUE_SIZE=2000
HELLO_BULKHEAD_MAX_QUEUE_WAIT=8
HELLO_CIRCUITBREAKER_SLIDING_WINDOW_SIZE=10
HELLO_CIRCUITBREAKER_MINIMUM_NUMBER_OF_CALLS=5
HELLO_CIRCUITBREAKER_FAILURE_RATE_THRESHOLD=50
HELLO_CIRCUITBREAKER_PERMITTED_NUMBER_OF_CALLS_IN_HALF_OPEN_STATE=1
HELLO_CIRCUITBREAKER_OPEN_STATE_DELAY=10000
HELLO_RETRY_ATTEMPTS=3
HELLO_RETRY_INTERVAL=2000
